@font-face {
  font-family: Inconsolata;
  src: url('../fonts/Inconsolata.otf');
}
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
::selection {
  background: #b16828; /* Safari */
  }
::-moz-selection {
  background: #b16828; /* Firefox */
}


html{
  width:100%;
  min-height: 100%;
  background: rgb(16, 16, 15);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.25);
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'Inconsolata', sans-serif;
}
body{
  text-align: center;
  margin:0;
  padding: 10% 0 0 0;
  color:#cec5b1;
}
.verb_hint{
  color:#c24439;
}
.noun_hint{
  color:#258ed0;
}
.user-cmd{
  color: #b16828;
}
p{
  padding-right:10%;
}
h1{
  font-size: 1.4em;
  margin-bottom:0;
  font-weight: 100;

}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6c634d;
    font-style: italic;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6c634d;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6c634d;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6c634d;
    font-style: italic;
}
.container{
  margin: 0 auto;
  max-width: 960px;
}
.gateway{
  text-align: left;
  margin:0 20px;

  color: rgba(255, 176, 0, 0.8);
	background-color: #333;
	background-image: linear-gradient(to bottom, #222, #222 50%, #000 50%, #000);
	background-size: 100% 2px;
	text-shadow: rgba(185,128,0,.2) .5em 0 .2em;
  border: .07em solid rgb(11, 11, 11);
  border-radius: 1em;
	box-sizing: border-box;
	// padding: .5em 1em;
	box-shadow: inset 0 0 4em rgba(0,0,0,.5);
	background-image: linear-gradient(to bottom, rgba(255,255,255,.05), rgba(255,255,255,.15) .5em, rgba(255,255,255,.05) 2em, rgba(255,255,255,.05) 2em, rgba(255,255,255,0)), linear-gradient(to bottom, #222, #222 50%, #000 50%, #000);
	background-size: 100% 100%, 100% 2px;
	// white-space: pre-wrap;
	tab-size: 4;
	position: relative;
  overflow-y: hidden;

  &:after{
    animation: scanline 12s linear infinite;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 1em;
    cursor: text;
    background-image: linear-gradient(to bottom, rgba(255, 176, 0, 0) 0, rgba(255, 176, 0, 0) 1em, rgba(255, 176, 0, .05) 3em, rgba(255, 176, 0, .15) 3.1em, rgba(255, 176, 0, .01) 3.11em, rgba(255, 176, 0, .05) 3.2em, rgba(255, 176, 0, 0) 3.3em, rgba(255, 176, 0, 0) 10em);
    background-size: cover;
  }
}

@keyframes scanline
{	from {
    background-position: 0 -3.3em;
  }
  to {
    transform: translatey(100%);
  }
}

.readout{
  border-radius: 3px;
  position: relative;
  z-index: 2;
  // color:#424242;
  height: 540px;
  max-height: 100%;
  overflow-y:scroll;
  margin:0 0 2em;
  padding: 0 1em;
  // background-color: #cec5b1;
  // box-shadow: inset -4px -4px 80px hsla(0,0%,0%,.8);
}
.readout-content{
  position: absolute;
}
.user-input{
  position: relative;
  z-index: 2;
}
span.terminal{
  position: relative;
  display: inline-block;
}
input{
  color:#cec5b1;
  font-size: 1em;
}
textarea:focus, input:focus{
    outline: none;
}
input:not([type=submit]):not([type=file]) {
  width:95%;
  padding:.4em;
  background: none;
  border:none;
}